body 
{
color: rgb(60, 50, 205);
text-align: center;
font-family: Arial, Helvetica, sans-serif;


color: rgba(10, 7, 34, 0.877);
text-align: center;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(25, 24, 27);
background-image: url("https://pbs.twimg.com/profile_images/505127360157343744/eCcw44CU_400x400.jpeg");

background-size: 100% 400%;
}


 h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;

}
